html, body, p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

body {
    padding: 10px;
    background: #F1F4F6;
    font-size: 16px;
    line-height: 1.8;
    user-select: none;
}

.fx:after {
    display: block;
    content: '';
    clear: both;
}

.box {
    margin-bottom: 10px;
    width: 230px;
}

.mt_1 {
    margin-top: 10px;
}

.main {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.search_main {
    width: 360px;
}

.dmx_input {
    background: #ffffff;
    border: 1px solid #cfd0d2;
    border-radius: 8px;
    color: #4e5053;
    padding: 3px 8px;
    line-height: 30px;
    font-size: 16px;
    transition: all .2s linear;
}

.dmx_input:hover {
    border-color: #409eff;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
    /*transform: scale(1.005);*/
}

.search_box {
    position: relative;
    height: 30px;
    padding: 3px 63px 3px 8px;
}

.search_box > input {
    display: block;
    width: 100%;
    height: 28px;
    font-size: 18px;
    outline: none;
    border: none;
}

#search_remove {
    position: absolute;
    top: calc(50% - 15px);
    width: 30px;
    height: 30px;
    background: url("data:image/svg+xml,%3Csvg class='icon' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg' width='18' height='18'%3E%3Cpath d='M866.016 740.992q28.992 30.016 42.496 55.008T904 852.992q-4 6.016-11.008 14.496T878.496 884t-15.008 14.496T850.976 908q-24.992 15.008-59.008 8t-60.992-34.016l-236-236-128 128q-59.008 59.008-96 96.992-38.016 38.016-75.488 47.008t-66.496-16.992L100 872q-6.016-6.016-7.008-8Q81.984 849.984 80 835.488t2.496-28.512T96 779.968t20-24q8.992-8 32-30.016l54.016-56q32.992-32 73.504-72t84.512-84q-48-48-91.488-91.008t-78.016-76.992-56.512-55.488-27.008-26.496q-26.016-26.016-26.496-51.488t17.504-51.488q8-10.016 23.008-23.488T142.016 120q30.016-20 54.016-17.504t48 27.488l31.008 31.008q23.008 23.008 56.992 56t76.512 74.496 88.512 86.496q38.016-38.016 74.496-74.016t68-67.488 56.992-56.512 42.496-42.016q24-23.008 52-30.496t54.016 12.512q.992.992 6.496 4.992t11.008 8.992 10.496 9.504 7.008 5.504q27.008 26.016 26.496 56.512t-26.496 56.512Q862.048 280 835.552 306.976t-59.008 59.008-68.512 68l-76 76q36.992 36 72.512 70.496t66.016 64.512T825.568 700t40.512 40.992z'/%3E%3C/svg%3E") no-repeat center;
    right: 35px;
    opacity: .6;
    cursor: pointer;
}

#search_remove:hover {
    opacity: 1;
}

#search_but {
    position: absolute;
    top: calc(50% - 15px);
    width: 30px;
    height: 30px;
    background: url("data:image/svg+xml,%3Csvg class='icon' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg' width='20' height='20'%3E%3Cpath d='M946.222 844.994L727.729 624.668c-2.543-2.549-5.353-4.496-8.036-6.617 36.908-57.103 58.459-125.121 58.459-198.387 0-201.282-161.79-364.428-361.498-364.428-199.596 0-361.498 163.146-361.498 364.428 0 201.31 161.902 364.42 361.498 364.42 72.648 0 140.196-21.784 196.926-58.999 2.066 2.768 3.961 5.521 6.463 8.05l218.521 220.353c14.919 14.997 34.35 22.472 53.809 22.472 19.472 0 38.916-7.474 53.822-22.436 29.684-29.996 29.684-78.557.027-108.53M416.654 669.007c-136.347 0-247.334-111.872-247.334-249.343 0-137.45 110.988-249.351 247.334-249.351s247.334 111.901 247.334 249.351c.001 137.47-110.988 249.343-247.334 249.343'/%3E%3C/svg%3E") no-repeat center;
    right: 10px;
    opacity: .6;
    cursor: pointer;
}

#search_but:hover {
    opacity: 1;
}

.dmx_button {
    display: inline-block;
    float: left;
    background: #4395ff;
    border: 1px solid #3589ff;
    border-radius: 4px;
    color: #fff;
    line-height: 1;
    padding: 8px 12px;
    font-size: 14px;
    white-space: nowrap;
    text-align: center;
    outline: none;
    box-sizing: border-box;
    user-select: none;
    cursor: pointer;
    opacity: .9;
    transition: .1s;
}

.dmx_button:hover {
    opacity: 1;
    box-shadow: 0 2px 5px 0 #7b7f84;
}

.dmx_button:active {
    opacity: .8;
}

.dmx_button_default {
    background: #fff;
    border: 1px solid #dcdfe6;
    color: #606266;
}

.but_box {
    width: calc(100% + 10px);
    margin-left: -10px;
}

.but_box .dmx_button {
    margin: 10px 0 0 10px;
}

/* ============ option ============ */
.option {
    margin-bottom: 10px;
}

.option .title {
    position: relative;
}

.option .title:after {
    position: absolute;
    top: 50%;
    display: block;
    content: '';
    width: 100%;
    border-bottom: 1px solid #b9b9b9;
}

.option b {
    z-index: 1;
    position: relative;
    background: #F1F4F6;
    padding-right: 5px;
}

.case {
    display: flex;
    align-items: center;
}

.case input[type=checkbox] {
    margin-right: 6px;
}

.case .dmx_input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    resize: vertical;
}

.case .show_width {
    width: 90px;
}

.option_but {
    margin: 20px 0;
}

#reset_option {
    margin-left: 10px
}

.explain {
    color: #b3b3b3;
}
